extends layout
block content

	div(class="product panel panel-default col-md-3")
		div(class="panel-heading")= name
		div(class="panel-body")
			img(src="/image/"+image)
		div(class="panel-body") Price: $#{price}
		div(class="panel-body") Description: #{description}

	a(class="btn btn-default", href="/addCart/"+id.toString()) Add to cart
	

