extends layout
block content

    div(class="thumbnail col-md-10")
        div(class="panel-heading")= name
        div(class="panel-body imageFrame")
            img(src="/image/"+image width='620')
        div(class="panel-body") Price: $#{price}
        div(class="panel-body") Description: #{description}
        button(class="btn btn-default", type="submit", formaction="/cart/"+_id) Add to cart
	

