extends layout
block content

	div(class="thumbnail col-md-3")
	div(class="panel-heading")= name
	div(class="panel-body imageFrame")
		img(src="/image/"+image)
	div(class="panel-body") Price: $#{price}
	div(class="panel-body") Description: #{description}
	

